<% if @result %>
<section>
  <p>The first number was: <%= @first %></p>    
  <p>The operator was: <%= @operator %></p>    
  <p>The second number was: <%= @second %></p>
  <hr/>
  <p>The result of <%= @first %> <%= @operator %> <%= @second %> is <%= @result %></p>   
  <!--<p><%= "#{@first} #{@operator} #{@second} = #{@result}" %></p>-->
  <form action='/' method='get'>
    <button>New calculation?</button>
  </form>
</section>
<% else %>
<section>
  <h3>Oops!</h3>
  <p>Not enough information entered... Please <a id='error' href="/">try again</a>.</p>
</section>
<% end %>
